.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  display: flex;
  position: relative;
  height: 25rem;
  /*padding-bottom: 1%;*/
	background-image: url("../images/gradcaps.jpg");
}

.gallery #first-item {
	/*padding-bottom: 1%;*/
}

.gallery .item { 
  align-items: center;
  padding: 0rem 0 0rem 0;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.controls {
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
