/*Universal Styling*/

body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}

/*Header Content*/

header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #ecf0f1;
	width: 100%;
	height: 90px;
	background-color: #2980B9;
}
/* Header Logo */

.logo {
	display: flex; 
	align-items: center;
	flex-grow: 1;
	padding-left: 2rem;
}

.logo img {
	height: 4rem;
	margin: 1rem 1rem 1rem 0.5rem;
}

/* Navigation */

.main-nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 2.5rem;
}

.main-nav ul li {
	align-content: center;
	align-items: flex-end;
	font-size: 1rem;
	padding: 0 1.2rem;
	font-weight: 500;
}

.main-nav ul li a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#myavid-login {
	color: #f1c40f;
	border: 2px solid #f1c40f;
	padding: 0.5rem;
	border-radius: 0.3rem;
	transition: color 0.5s ease-out,
		border 0.5s ease-out;
    
}

#myavid-login:hover {
	border: 2px solid #ecf0f1;
	color: #ecf0f1;
}

.main-nav ul li a:hover {
	color: #f1c40f;
	transition: color 0.5s ease-out;
}

/* Video Full Screen */
.video-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#video-background {
	width:100%;
	height:100%;
	background-size:cover;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-desc h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-align: left;
	line-height: 7.5rem;
	font-weight: 500;
}

#empower {
	color: #f1c40f;
}

#with-avid {
	color: #f1c40f;
}

@media only screen and (max-width: 768px) {
	.overlay-desc h1 {
		font-size: 5rem;
	}
}

/*Main messaging content */

.container {
	background-color: #ecf0f1;
}

.container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7rem 2.5rem 2rem 2.5rem;
	line-height: 3.7rem;
}

.content h2 {
	color: #16a085;
	align-items: center;
	text-align: center;
	font-size: 3rem;
	width: 90%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2.5rem 7rem 2.5rem;
}

.button a {
	font-size: 1.25rem;
	font-weight: 550;
	text-transform: uppercase;
	padding: 1.25rem 2rem;
	background-color: #2980b9;
	color: #ecf0f1;
	border: 2px solid #2980b9;
	border-radius: 0.3rem;
	transition: background-color 0.5s ease-out; 
}

.button a:hover {
	color: #2980b9;
	background-color: #ecf0f1;
	border: 2px solid #2980b9;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

/* Data Rotator */

.item h4 {
	color: #ecf0f1;
	font-size: 4rem;
	font-weight: 600;
	margin: 1.5rem 0;
}

.item p {
	color: #ecf0f1;
	font-size: 2rem;
}
#first-item {
	background-color: rgba(231, 76, 60, 0.7);
}

#second-item {
	background-color: rgba(22, 160, 133, 0.7);
}

#third-item {
	background-color: rgba(155, 89, 182, 0.7);
}

#fourth-item {
	background-color: rgba(41, 128, 185, 0.7);
}

.fa-bullseye {
	color: #ecf0f1;
	padding-top: 3.5rem;
}

.fa-graduation-cap {
	color: #ecf0f1;
	padding-top: 3.5rem;
}

.fa-check-square {
	color: #ecf0f1;
	padding-top: 3.5rem;
}

.fa-bank {
	color: #ecf0f1;
	padding-top: 3.5rem;
}

/*jQuery selector boxes */

fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }

/*jQuery Tabs */

.container-tabs {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: #ecf0f1;
	padding: 3rem 2rem;
}

.container-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.title {
	text-align: center;
	flex-grow: 1;
	padding: 3rem 5rem;
	background-color: #ecf0f1;
}

.title h3 {
	font-size: 2.5rem;
	color: #2980b9;
	font-weight: 500;
}


#tabs {
	align-items: center;
	max-width: 100%;
}

#tabs {
	border: none;
	padding: 0 0;
}

#tabs ul:active {
	border: none;
}

#tabs ul {
	background-color: #184b6c;
	border: none;
}

#tabs ul li {
	font-family: 'Montserrat'; 
	font-weight: 500;
}

#tabs ul li a {
	color: #2980b9;
	background-color: #ecf0f1;
}

#tabs ul li a:active {
	background-color: #2980b9;
	border: 0pc solid #dddddd;
}

#tabs ul li a:hover {
	background-color: #f1c40f;
}

#tabs-1 {
	background-image: url(../images/SI.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#tabs-2 {
	background-image: url(../images/Orlando_small.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#tabs-3 {
	background-image: url(../images/Webinar.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*Content within tab image */

.content-box {
	/*position: absolute;*/
	max-width: 60%;
	height: 20rem;
	background-color: rgba(22, 160, 133, 0.7);
	margin: 5rem;
}

.content-box h4 {
	color: #f1c40f;
	padding: 2rem 2rem 1rem 2rem;
	opacity: 1;
	font-size: 2.5rem;
	line-height: 3rem;
}

.content-box p {
	color: white;
	font-family: 'Open Sans';
	font-size: 1.5rem;
	line-height: 3rem;
	padding: 0rem 2rem;
}


.content-box span {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 1rem 2rem;
	margin: 2rem 2rem 0 2rem;
	line-height: 4.5rem;
	background-color: #f1c40f;
	color: #ecf0f1;
	border: 2px solid #f1c40f;
	border-radius: 0.3rem;
	transition: background-color 0.5s ease-out; 
}

.content-box span:hover {
	color: #f1c40f;
	background-color: rgba(22, 160, 133, 0.7);
	border: 2px solid #f1c40f;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

#content-box2 {
	background-color: rgba(155, 89, 182, 0.7);
}

#content-box2 span:hover {
	color: #f1c40f;
	background-color: rgba(155, 89, 182, 0.7);
	border: 2px solid #f1c40f;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

#content-box3 {
	background-color: rgba(41,128, 185, 0.7);
}

#content-box3 span:hover {
	color: #f1c40f;
	background-color: rgba(41,128, 185, 0.7);
	border: 2px solid #f1c40f;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.ui-tabs {
	width: 60%;
	border: none;
}

.ui-widget.ui-widget-content {
    border: 1px solid #ecf0f1;
}

/* Form Fields */

.demo {
	background-color: #ecf0f1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

/*.container-content-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5rem;
	width: 30%;
	background-color: #5c356c;
	padding: 2rem 5rem;
	border-radius: 0.5rem;
}*/

.title-form {
	font-size: 3rem;
	color: #2980b9;
	line-height: 4rem;
}

form {
	color: #2980b9;
	display: inline-block;
}

fieldset {
	display: inline;
}

form label {
	font-size: 2rem;
	padding-bottom: 1rem;
}

.ui-selectmenu-text {
    text-align: left;
    white-space: nowrap;
    font-family: 'Open Sans';
	color: #184B6C;
}

.ui-selectmenu-open #number {
	height: 100%;
}

.button-profile {
	padding-bottom: 8rem;
}

.button-profile a {
	position: absolute;
	font-size: 1rem;
	font-weight: 550;
	text-transform: uppercase;
	margin-top: 4rem;
	padding: 1rem 2rem;
	background-color: #2980b9;
	color: #ecf0f1;
	border: 2px solid #2980b9;
	border-radius: 0.3rem;
	transition: background-color 0.5s ease-out; 
}

.button-profile a:hover {
	color: #2980b9;
	background-color: #ecf0f1;
	border: 2px solid #2980b9;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}


/* Test Flexbox Stories */

.cards {
  background-color: #f1c40f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
	align-items: stretch;
}

#expertise {
  padding: 3.33rem;
	font-size: 3rem;
	color: #2980b9;
	line-height: 4rem;
  background-color: #f1c40f;
  margin: 0;
  text-align: center;
}