/*Universal Styling*/

body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}

/*Header Content*/

header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #ecf0f1;
	width: 100%;
	height: 90px;
	background-color: #2980B9;
}
/* Header Logo */

.logo {
	display: flex; 
	align-items: center;
	flex-grow: 1;
	padding-left: 2rem;
}

.logo img {
	height: 4rem;
	margin: 1rem 1rem 1rem 0.5rem;
}

/* Navigation */

.main-nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 2.5rem;
}

.main-nav ul li {
	align-content: center;
	align-items: flex-end;
	font-size: 1rem;
	padding: 0 1.2rem;
	font-weight: 500;
}

.main-nav ul li a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.main-nav ul li a:hover {
	color: #f1c40f;
}

#myavid-login {
	color: #f1c40f;
	border: 2px solid #f1c40f;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

#myavid-login:hover {
	border: 2px solid #ecf0f1;
	color: #ecf0f1;
}

/* Video Full Screen */
.video-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#video-background {
	width:100%;
	height:100%;
	background-size:cover;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-desc h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-align: left;
	line-height: 7.5rem;
	font-weight: 500;
}

#empower {
	color: #f1c40f;
}

#with-avid {
	color: #f1c40f;
}

@media only screen and (max-width: 768px) {
	.overlay-desc h1 {
		font-size: 5rem;
	}
}

/*Main messaging content */

.container {
	background-color: #ecf0f1;
}

.container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7rem 2.5rem;
	line-height: 3.7rem;
}

.content h2 {
	color: #16a085;
	align-items: center;
	text-align: center;
	font-size: 3rem;
	width: 90%;
}


/* Data Rotator */

.item h4 {
	color: #ecf0f1;
	font-size: 4rem;
	font-weight: 600;
	margin: 1.5rem 0;
}

.item p {
	color: #ecf0f1;
	font-size: 2rem;
}
#first-item {
	background-color: #e74c3c;
}

#second-item {
	background-color: #16a085;
}

#third-item {
	background-color: #9b59b6;
}

#fourth-item {
	background-color: #2980b9;
}

.fa-bullseye {
	color: #ecf0f1;
}

.fa-graduation-cap {
	color: #ecf0f1;
}

.fa-check-square {
	color: #ecf0f1;
}

.fa-bank {
	color: #ecf0f1;
}